<div class="container">
  <nav class="sidebar">
    <div class="menu-group">
       @for (op of operators; track $index) {
       <div class="group-title">{{ op.title }}</div>
       <ul>
         @for (opItem of op.operators; track $index) {
         <li>
           <a
           [routerLink]="['/operator', opItem]"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }"
           >{{ opItem }}</a>
         </li>
         }
       </ul>
       }
    </div>
  </nav>
  <main class="content">
    <router-outlet />
  </main>
</div>
