/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Droid Sans Mono, monospace;
  font-size: 13px;
}

/* highlight.js theme */
@import 'highlight.js/styles/github-dark.css';

pre, code {
  font-family: 'Droid Sans Mono', 'Courier New', monospace;
}

